<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

#### x = 5
#### print(type(x))

#### x = "Hello World"
#### print(type(x))

#### x = 20.5
#### print(type(x))

#### x = ["apple", "banana", "cherry"]
#### print(type(x))

#### x = ("apple", "banana", "cherry")
#### print(type(x))

#### x = {"name" : "John", "age" : 36}
#### print(type(x))

#### x = True
#### print(type(x))

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [16]:
x=24.5
print(x)
print(type(x))
#x mean my age

24.5
<class 'float'>

### Insert the correct syntax to convert x into a integer.

In [14]:
A=12
print(A)
print(type(A))
# A mean Number of months in the year

12
<class 'int'>

## Exercise on string

### Use the `len()` function to print the length of the string.

In [32]:
print("amit learning")

amit learning

### Get the first character of the string txt.

In [38]:
name="Hassan Arafa"
print(name[0])

H

### Get the characters from index 2 to index 4 (llo).

In [25]:
name="hassan arafa"
print(name[3:5])

sa

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [44]:
name="hassanarafa"
print(name)

hassanarafa

### Convert the value of `txt` to upper case.

In [50]:
name="hassan arafa"
print(name.upper())

HASSAN ARAFA

### Convert the value of `txt` to lower case.

In [52]:
name="hassan arafa"
print(name.lower())

hassan arafa

#### Replace the character` H` with a `J`

In [60]:
name="hassan arafa"
print(name.replace("h","a"))

aassan arafa

#### Insert the correct syntax to add a placeholder for the age parameter.

In [76]:
a=24
n="Hassan Arafa"
print(f"my name is {n} and my age is {a}")

my name is Hassan Arafa and my age is 24

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [1]:
print(10>9)

True

The statement below would print a Boolean value, which one?

In [7]:
print(10 == 9)

False

The statement below would print a Boolean value, which one?

In [11]:
print(10<9)

False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [23]:
print("Twinkle, twinkle, little star")
print("How I wonder what you are!")
print('Up above the world so high')
print('Like a diamond in the sky')
print('Twinkle, twinkle, little star,How I wonder what you are!')

Twinkle, twinkle, little star
How I wonder what you are!
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star,How I wonder what you are!

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

 ## After that

### Relace the index 3 in the list

 ### Convert the list to string and print the list

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [31]:
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example

In [33]:
print('''a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example''')

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

## <font color='gold'>Exercise- 8</font>

###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

# Thanks ❤

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">